In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Load the King County data

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float,
              'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str,
              'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int,
              'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [4]:
df_data = pd.read_csv("./data/kc_house_data.csv", dtype=dtype_dict)

In [5]:
df_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [6]:
df_train = pd.read_csv("./data/kc_house_train_data.csv", dtype=dtype_dict)
df_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [10]:
df_test = pd.read_csv("./data/kc_house_test_data.csv", dtype=dtype_dict)
df_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0

In [7]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null object
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null float64
bathrooms        21613 non-null float64
sqft_living      21613 non-null float64
sqft_lot         21613 non-null int64
floors           21613 non-null object
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null object
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null float64
sqft_lot15       21613 non-null float64
dtypes: float64(8), int64(9), object(4)
memory usage: 3.5+ MB

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17384 entries, 0 to 17383
Data columns (total 21 columns):
id               17384 non-null object
date             17384 non-null object
price            17384 non-null float64
bedrooms         17384 non-null float64
bathrooms        17384 non-null float64
sqft_living      17384 non-null float64
sqft_lot         17384 non-null int64
floors           17384 non-null object
waterfront       17384 non-null int64
view             17384 non-null int64
condition        17384 non-null int64
grade            17384 non-null int64
sqft_above       17384 non-null int64
sqft_basement    17384 non-null int64
yr_built         17384 non-null int64
yr_renovated     17384 non-null int64
zipcode          17384 non-null object
lat              17384 non-null float64
long             17384 non-null float64
sqft_living15    17384 non-null float64
sqft_lot15       17384 non-null float64
dtypes: float64(8), int64(9), object(4)
memory usage: 2.8+ MB

In [11]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4229 entries, 0 to 4228
Data columns (total 21 columns):
id               4229 non-null object
date             4229 non-null object
price            4229 non-null float64
bedrooms         4229 non-null float64
bathrooms        4229 non-null float64
sqft_living      4229 non-null float64
sqft_lot         4229 non-null int64
floors           4229 non-null object
waterfront       4229 non-null int64
view             4229 non-null int64
condition        4229 non-null int64
grade            4229 non-null int64
sqft_above       4229 non-null int64
sqft_basement    4229 non-null int64
yr_built         4229 non-null int64
yr_renovated     4229 non-null int64
zipcode          4229 non-null object
lat              4229 non-null float64
long             4229 non-null float64
sqft_living15    4229 non-null float64
sqft_lot15       4229 non-null float64
dtypes: float64(8), int64(9), object(4)
memory usage: 693.9+ KB

## Computing the average price

In [15]:
avg_price1 = df_train.price.sum() / len(df_train)
avg_price1

539366.62793373212

In [18]:
avg_price2 = df_train.price.mean()
avg_price2

539366.62793373212

## Simple linear regression function i.e. for a single input

In [29]:
def simple_linear_regression(input_feature, output):
    # compute the sum of input_feature and output
    sum_input_feature = input_feature.sum()
    sum_output = output.sum()
    # compute the product of the output and the input_feature and its sum
    sum_x_prod_y = (input_feature * output).sum()
    # compute the squared value of the input_feature and its sum
    sum_x_square = (input_feature * input_feature).sum()
    # use the formula for the slope
    slope = (sum_x_prod_y - (sum_input_feature * sum_output)/len(output)) / (sum_x_square - (sum_input_feature*sum_input_feature)/len(output))
    
    # use the formula for the intercept
    intercept = sum_output/len(output) - (slope * sum_input_feature)/len(output) 
    return (intercept, slope)

### Testing our regression

Let's test the simple linear regression we defined above with some known function 
y = 1 + x
where:
* slope = 1
* intercept = 1

In [30]:
test_feature = pd.Series(np.arange(5))
test_output = pd.Series(1 + 1*test_feature)

In [31]:
test_feature

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [32]:
test_output

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
test_intercept, test_slope = simple_linear_regression(test_feature, test_output)

In [34]:
print(test_intercept, test_slope)

1.0 1.0

### Regression for sqft_living

In [35]:
sqft_intercept, sqft_slope = simple_linear_regression(df_train.sqft_living, df_train.price)
print(sqft_intercept, sqft_slope)

-47116.0790729 281.95883963

### Predicting  the prices

In [37]:
def get_regression_predictions(input_feature, intercept, slope):
    # calculate the predicted values:
    predicted_values = intercept + input_feature * slope
    return predicted_values

In [44]:
house_sqft = 2650
estimated_price = get_regression_predictions(house_sqft, sqft_intercept, sqft_slope)
print("The estimated price for a house with %d squarefeet is $%.2f" % (house_sqft, estimated_price))

The estimated price for a house with 2650 squarefeet is $700074.85

### Computing the residual sum of squares

In [39]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    # First get the predictions
    predictions = get_regression_predictions(input_feature, intercept, slope)
    # then compute the residuals (since we are squaring it doesn't matter which order you subtract)
    residuals = (output - predictions)
    # square the residuals and add them up
    RSS = (residuals * residuals).sum()
    return(RSS)

In [40]:
print(get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope))

0.0

In [43]:
rss_prices_on_sqft = get_residual_sum_of_squares(df_train['sqft_living'], df_train['price'], sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on Square Feet is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on Square Feet is : 1.20191835418e+15

### Predict the sqft given the price

In [45]:
def inverse_regression_predictions(output, intercept, slope):
    # solve output = intercept + slope*input_feature for input_feature. Use this equation to compute the inverse predictions:
    estimated_feature = (output - intercept) / slope
    return estimated_feature

In [46]:
my_house_price = 800000
estimated_squarefeet = inverse_regression_predictions(my_house_price, sqft_intercept, sqft_slope)
print("The estimated squarefeet for a house worth $%.2f is %d" % (my_house_price, estimated_squarefeet))

The estimated squarefeet for a house worth $800000.00 is 3004

## New Model: estimate prices from bedrooms

In [47]:
# Estimate the slope and intercept for predicting 'price' based on 'bedrooms'
bedrooms_intercept, bedrooms_slope = simple_linear_regression(df_train.bedrooms, df_train.price)
print(bedrooms_intercept, bedrooms_slope)

109473.177623 127588.952934

In [48]:
# Compute RSS when using bedrooms on TEST data:
print(get_residual_sum_of_squares(df_test.bedrooms, df_test.price, bedrooms_intercept, bedrooms_slope))

4.9336458596e+14

In [49]:
# Compute RSS when using squarefeet on TEST data:
print(get_residual_sum_of_squares(df_test.sqft_living, df_test.price, sqft_intercept, sqft_slope))

2.75402933618e+14